{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipe_App</title>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" type="text/css" />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 52vh;
        padding: 3px;
      }

      h1,
      h3 {
        color: #0c0908;
        font-family: 'Bree Serif', sans-serif;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="success_block">
      <div>
        <h1>Recipe Home</h1>
        <h3>Please Login</h3>
      </div>
      <div>
        {% if error_message %} {{error_message}} {% endif %}
        <form action="" method="POST">
          {% csrf_token %}
          <div class="login_form">
            {{form}}
            <br />
            <button type="submit" class="login_btn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
