{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Recipe_App</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css">
  <style type="text/css">
    body {
      background: url("{% static 'recipes/images/background.jpg' %}") no-repeat fixed;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div>
    <a href ="{%url 'logout' %}">  Logout  </a>
    <a class="login_btn" href="{%url 'recipes:search' %}">Search</a>
    <a class="login_btn" href="{%url 'recipes:list' %}">Recipes</a>
    <a class="login_btn" href="{%url 'recipes:create' %}">Create</a>
  </div>
  <div>
    <h2>{{object.name}}</h2>
  
    <div>
      <div>
        <b>Name: </b> {{object.name}} <br />
        <b>Cooking Time: </b> {{object.cooking_time}} <br />
        <b>Difficulty: </b> {{object.calculate_difficulty}} <br />
        <b>Ingredients: </b> {{object.ingredients}} <br />
        <b>Description: </b> {{object.description}} <br />
        
      </div>

    </div>
    <img src="{{ object.pic.url }}" width="400" height="600" />

</html>